server:
  port: 1557
  address: 0.0.0.0

spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/family_cloud}
    username: ${SPRING_DATASOURCE_USERNAME:cloud_user}
    password: ${SPRING_DATASOURCE_PASSWORD:cloud_password}

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: false

    properties:
      hibernate:
        format-sql: true

  application:
    name: cloud

  devtools:
    restart:
      enabled: true

jwt:
  jwtkey: your_key
